/* Table of contents */

#table-contents-container {
    width: 80%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#table-contents > thead {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#table-contents {
    border-style: ridge;
    border-color: #737373;
    border-width: 5px;
    box-shadow: 15px 15px 10px slategrey;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
}

#table-contents td {
    border-bottom: 1px solid black;
    width: 50%;
    padding: 3px;
}

.link-to-solver {
    text-align: center;
    border-left: 1px solid black;
}