/* Table of contents */

#table-contents-container {
    margin-top: 50px;
    border-width: 5px;
}

#table-contents > thead {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#table-contents {
    border-color: grey;
    border-style: ridge;
    box-shadow: 10px 5px 5px slategrey;
    padding: 5px;
    width: 100%;
}

#table-contents td {
    border-bottom: 1px solid black;
    width: 50%;
    padding: 3px;
}

.link-to-solver {
    text-align: center;
    font-style: italic;
    border-left: 1px solid black;
}