#return-href-container {
    text-align: center;
}

#arrow-span-2 {
    font-size: x-large;
    font-weight: bolder;
}

tr {
    text-align: center;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

td {
    width: 30vw;
    padding: 20px;
    text-align: center;
    vertical-align: center;
}

.problem-header {
    font-size: x-large;
    font-weight: bolder;
}

#problem-1-table, #problem-2-table {
    border-style: ridge;
    border-color: #737373;
    border-width: 10px;
    box-shadow: 15px 15px 10px slategrey;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
}

#cell-given-1, #cell-given-2 {
    font-size: large;
}

.io-container {
    position: relative;
    width: available;
 }

.result-legend {
    font-weight: bold;
}

#result-field-1, #result-field-2 {
    text-align: left;
}

#input-r1-1, #input-r2-1, #input-l-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#input-c-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


fieldset {
    border: 1px solid black;
}

